.container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
}
.column{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    gap: 0.5rem;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    gap: 0.5rem;
}
.check{
    width: 1rem;
}
.error{
    color: var(--color-error);
    font-weight: 700;
}