.link{
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s color;
    font-family: sans-serif;
}
.link:hover{
    color: #b9b9b9;
}
.img{
    height: 115px;
    border-radius: 4px;
}