.container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    background-color: #f7f8fd;
    border-radius: 8px;
    box-shadow: 0 3px 8px 1px rgba(0,0,0,0.75);
    padding: 1.5rem 2rem;
}
.row{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 0.5rem;
}
.error{
    color: var(--color-error);
    font-weight: 700;
}
