.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
}

.card {
    width: 15rem;
    height: 20rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}


.card h3 {
    color: var(--color-text-grey);
}
