.sidebar {
    width: 250px;
    background-color: #212529;
    color: #fff;
    padding: 20px;
    margin-right: -20px;
    font-family: sans-serif;
}
.sidebar_title{
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    font-size: 20px;
}
