.parent_list{
    margin-top: 15px;
    list-style-type: none;
    padding: 0;
}
.list_item{
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
}
.list_item:hover,
.list_item:active{
    transition: background-color 0.4s ease;
    background-color: #505050;
    padding: 4px;
    border-radius: 6px;
}