.account svg{
    color: var(--color-text-lightgrey);
    cursor: pointer;
    transition: color 0.3s ease;
}
.account svg:hover{
    color: var(--color-text-grey);
}

.account ul li{
    padding: 10px  0;
}