.details {
    padding-right: 1rem;
}
.price{
    color: var(--color-price);
    font-size: 1.3rem;
    font-weight: 700;
}
.specyfication{
    width: 100%;
}
.toolbox{
    flex: 1;
    text-align: right;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.productTable th,
.productTable td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.productTable th {
    background-color: #f2f2f2;
}

.productTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
.toolbox a{
    margin-left: auto;
}
