.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.toolbox{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
}
.toolbox button{
    width: 10rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;

    transition: background-color 0.3s ease-in-out;

    &:not([disabled]):hover{
        background-color: var(--color-white);
        color: black;
    }
}
.cancel{
    background-color: var(--color-error);
    border: 1px solid var(--color-error);
}
.btn{
    background-color: var(--color-blue);
    border: 1px solid var(--color-blue);

    &:disabled{
        background-color: #777777;
    }
}
.orderParts{
    background-color: var(--color-orange);
    border: 1px solid var(--color-orange);
}
.details{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    flex:1;
    gap: 0.5rem;
}

.details table{
    width: auto;
    border-collapse: collapse;
    margin-top: 0.5rem;
}
.details table th {
    background-color: #f2f2f2;
}

.basicDetails th,
.basicDetails td {
    width: 50%;
    border: 1px solid #ddd;
    padding: 4px;
    text-align: center;
}

.orderTable th,
.orderTable td {
    border: 1px solid #ddd;
    padding: 4px;
}
.right{
    text-align: right;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:2rem;
}