.container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container form,
.input_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.input_container textarea{
    max-width: 50rem;
    min-height: 4rem;
}
.footer{
    display: flex;
    justify-content: end;
}
.footer button{
    background-color: var(--color-orange);
    border-radius: 8px;
    border-color: var(--color-orange);
    color: var(--color-white);
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 0.6rem;
    padding: 0.8rem 1.2rem;
    transition: background-color 0.3s;

    &:hover{
        background-color: #f5a174;
    }
}
.error{
    color: var(--color-error);
    font-size: 1rem;
    font-weight: 700;
}