.cartSummary {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    margin-top: 1rem;
    gap: 1rem;
    width: 28rem;
}

.cartSummary h2 {
    border-bottom: 1px solid var(--color-text-grey);
    padding-bottom: 1rem;
}

.cartRow {
    display: flex;
    gap: 2rem;
}