.login_link{
    color:rgba(255, 255, 255, 0.55);
    text-decoration: none;
    font-weight: 400;
    transition: 0.3s color;
    font-family: sans-serif;
}
.login_link:hover{
    color: #cccccc;
}
.logo{
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.user_panel {
    @media (min-width: 992px) {
        justify-content: flex-end !important;
        display: flex !important;
    }
}