<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  intenalLogLevel ="Info"
	  intenalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assemlby="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="request-time" fileName="c:\temp\nlog-request-time-${shortdate}.log"
				layout="${longdate}|${event-properties:item=eventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="exceptions" fileName="c:\temp\nlog-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=eventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=eventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="QuirkyCarRepair.*" minlevel="Error" writeTo="exceptions" />
		<logger name="QuirkyCarRepair.API.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
	</rules>
</nlog>