.myalert{
    margin: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    z-index: 1000;
    text-align: center;
    border-radius: 8px;
    opacity: 0.9;
    color: white;
}
.primary{
    background-color: var(--color-blue);
}
.warning{
    background-color: var(--color-orange);
}
.dangerous{
    background-color: var(--color-error);
}
.success{
    background-color: var(--color-price);
}