.pagination{
    text-align: end;
    font-size: 1rem;
    padding: 0.5rem;
}
.pagination span{
    padding: 3px;
}
.arrow{
    text-decoration: none;
    color: #7a7a7a;
    transition: color 0.3s;
}
.arrow:hover{
    color: black;
}